<h1 align = "center">Testing Results</h1>

# Code Testing

## W3C HTML Validator

![W3C HTML Validator screenshot result](assets/rm_files/html-validator.PNG)

## W3C CSS Validator

![W3C CSS Validator screenshot result](assets/rm_files/css-validator.PNG)

## JSHint Validator

![JSHint validator screenshot result](assets/rm_files/jshint.PNG)

# Accessibility Testing

## WAVE Web Accessibility Evaluation Tool

![WAVE Web screenshot result](assets/rm_files/wave-result.PNG)

## Google Lighthouse

### Mobile

![Google lighthouse Results Mobile](assets/rm_files/google-lighthouse-mobile.PNG)

### Desktop

![Google lighthouse Results Mobile](assets/rm_files/google-lighthouse-desktop.PNG)

# Responsive Testing

## Google's Mobile Friendly Tester

![Google's Mobile Friendly Tester - Currently playing](assets/rm_files/googlr-mobile-friendly-tester.PNG)
