/*---Import of Google Fonts Lato font---*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/*---General styling properties applied across the game---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(32, 32, 32);
    color: rgb(255,255,255);
}

section {
    font-family: "Lato", sans-serif;
    text-align: center;
}

/*---Hover styling properties applied across the game---*/

.href-link:hover {
    color: rgb(43, 107, 226);
}

button:hover {
  opacity: .5;
  transition: all 0.3s ease 0s;
}

/*---Introduction page styling---*/
#introduction--div--heading {
    font-size: 35px;
    margin-top: 50px;
    height: 12vh;
}

#hero-image {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: 10px;
    border: 2px transparent;
    box-shadow: 0px 0px 20px rgba(199, 126, 247, 0.877);
    animation: 3s hero infinite linear;
}

.game-number-button {
    font-size: 15px;
    border: 2px solid;
    box-shadow: 0px 0px 20px rgba(226, 222, 170, 0.877);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 6px;
    cursor: pointer;
    opacity: 1;
    background-color: rgb(255,255,255);
    color: black;
    outline: none;
}

#div--btn--play--heading,
#div--btn--play--heading button {
    font-size: 25px;
    border: 2px solid;
    box-shadow: 0px 0px 20px rgba(226, 222, 170, 0.877);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(255,255,255);
    color: black;
    outline: none;
}

#play-btn-text {
    color: darkslategray;
    background: transparent;
    text-transform: uppercase;
    outline: none;
}

#div--entry--heading {
    margin-top: 50px;
    font-size: 20px;
}

#div--entry--heading ul li span {
    margin-left: 5px;
}

#read-more-icon, #read-less-icon {
    font-size: 25px;
    color: darkorange;
}

#history-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#history-text {
    color: white;
    text-align: left;
    font-size: 15px;
}

/*---Loading page styling---*/
#picture-div h2 {
    font-size: 25px;
    margin-top: 25px;
    letter-spacing: 2px;
}

#gif-picture {
    height: 15vh;
    width: 15vh;
    margin-top: 10px;
    background: transparent;
}

#welcome-picture {
    height: 50vh;
    width: 50vh;
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(199, 126, 247, 0.877);
    animation:3s rotate infinite ease-in-out;
}

/*---Game page styling---*/
#btn--game--controls,
#btn--game--controls button {
    font-size: 25px;
    width: 550px;
    display: inline-flex;
    cursor: pointer;
    background-color: black;
    color: #fff;
    margin-top: 15px;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
    outline: none;
}

#btn--new--game, #btn--main--menu {
    border: 2px solid #fff;
    letter-spacing: 2px;
    background-color: rgb(32, 32, 32); 
    outline: none;
}

#btn--new--game {
    margin-right: 15px;
}

#overall-winner {
    font-size: 45px;
    margin: 20px;
}

.btn--options--rps button {
    border: 5px solid #fff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 1rem;
    outline: none;
}

.btn--options--rps button span {
    font-size: 5rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1rem;
    background-color: transparent;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    margin-left: 33%;
    margin-right:33%;
    margin-bottom: 5vh;
    font-size: 1.3rem;
    border: 3px solid #fff;
}

#result-text-div {
    font-size: 25px;
    margin: 20px;
}

/*---Keyframes animation applied---*/
@keyframes hero{
    100%{ transform: rotateY(360deg); }
}

@keyframes rotate{
    /* ---Continuous rotation documentation help on the keyframes rotation sourced from:
https://stackoverflow.com/questions/10123700/how-to-make-a-picture-rotate-continuously---*/
    100%{ transform:rotate(1turn) }
}

/*---The pulse effect was designed with help from the following source:
https://css-tricks.com/almanac/properties/a/animation/---*/
.green-click-win {
    background-color: rgba(49, 245, 31, 1);
    animation-name: g-click;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes g-click {
  0% {
    transform: scale(1.05);
    background-color: rgba(49, 245, 31, .7);
  }
  50% {
    transform: scale(0.95);
    background-color: rgba(49, 245, 31, .9);
  }
  100% {
    transform: scale(1);
    background-color: rgba(49, 245, 31, 1);
  }
}

/*---https://css-tricks.com/almanac/properties/a/animation/---*/
.red-click-lose {
    background-color: rgba(184, 26, 26, 1);
    animation-name: r-click;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes r-click {
  0% {
    transform: scale(1.05);
    background-color: rgba(184, 26, 26, .7);
  }
  50% {
    transform: scale(0.95);
    background-color: rgba(184, 26, 26, .9);
  }
  100% {
    transform: scale(1);
    background-color: rgba(184, 26, 26 ,1);
  }
}

/*---https://css-tricks.com/almanac/properties/a/animation/---*/
.yellow-click-draw {
    background-color: rgba(255, 255, 0,1);
    animation-name: y-click;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes y-click {
  0% {
    transform: scale(1.05);
    background-color: rgba(255, 255, 0, .7);
  }
  50% {
    transform: scale(0.95);
    background-color: rgba(255, 255, 0, .9);
  }
  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 0,1);
  }
}


/*---JavaScript colourings applied---*/
.green-flash {
    color: rgb(49, 245, 31);
}

.red-flash {
    color: rgb(184, 26, 26);
}

.yellow-flash {
    color: rgba(255, 255, 0);
}

.span-trophy {
    height: 25vh;
    width: 25vh;
}

.result-emoji {
    font-size: 100px;
}

/*---Responsive media screen size design implementation---*/
@media only screen and (max-width:1037px) {
    .scoreboard {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 1rem;
    }

    #result-text-div {
        font-size: 25px;
    }

    .result-emoji {
        font-size: 45px;
    }
}

@media only screen and (max-width:796px) {
    .scoreboard {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1rem;
    }

    #result-text-div {
        font-size: 22px;
    }

    .result-emoji {
        font-size: 35px;
    }

    #overall-winner {
        font-size: 35px;
    }
}

@media only screen and (max-width:562px) {
    #introduction--div--heading {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 8vh;
    }

    .game-number-button {
        font-size: 15px;
        height: 85px;
        width: 85px;
    }

    #history-div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #welcome-picture {
        height: 30vh;
        width: 30vh;
    }

    #btn--game--controls,
    #btn--game--controls button {
        font-size: 18px;
        width: 350px;
    }

    .btn--options--rps button {
        height: 150px;
        width: 150px;
    }

    .scoreboard {
        width: 65%;
        margin-left: 20%;
        margin-right: 20%;
        font-size: 1rem;
    }

    #result-text-div {
        font-size: 15px;
    }

    .result-emoji {
        font-size: 35px;
    }

    #overall-winner {
        font-size: 30px;
    }
}